/* .w100{
    
} */
.btn{
    width: 15vw !important;
    border-radius: 30px;
}

@media screen and (max-width: 600px) {
    .btnhide{
        display: none;
    }
    .btn{
        font-size: 10px;
    }
}
.h2{
    font-weight: lighter;
    cursor: pointer;
}
.h2:hover{
    background-color: aliceblue;
    color: black;
}